/*
Translator
*/
/* 
    Created on : May 31, 2018, 12:49:25 PM
    Author     : tnong
*/

/*Hide Navigation Tabs*/
.navigation-tabs{
    display: none;
}

/*Pagination Translation*/
.pages .next{visibility: hidden;}
.pages .next:after{visibility: visible;content:'Next'; position: relative; left: -54px;}
.pages .last{visibility: hidden;}
.pages .last:after{visibility: visible; content: 'Last'; position: relative; left: -44px;}
.pages .first{visibility: hidden;}
.pages .first:after{visibility: visible; content: 'First'; position: relative; left: -65px;}
.pages .previous{visibility: hidden;}
.pages .previous:after{visibility: visible; content: 'Prev'; position: relative; left: -65px;}
th.product{visibility: hidden;}
th.product:after{visibility: visible; content: 'Product'; position: relative; float: left;}
th.shipping-date{visibility: hidden;}
th.shipping-date:after{visibility: visible; content: 'Shipping Date'; position: relative; float: left;}
th.product-price{visibility: hidden;}
th.product-price:after{visibility: visible; content: 'Price'; position: relative; float: left;}
th.quantity{visibility: hidden;}
th.quantity:after{visibility: visible; content: 'Quantity'; position: relative; float: left;}
td.info[data-i18n='totalizers.Tax']{visibility: hidden;}
td.info[data-i18n='totalizers.Tax']:after{
    visibility: visible; 
    content: 'Tax'; 
    position: relative;
    float: right;
}
